{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="pt-5">
        <div id="container">
            <a href="/" class="btn btn-primary">Back to Todos</a>
            <br>
            <h2 class="page-header pt-4">{{todo.name}}</h2>
            <ul class="list-group">
                <li class="list-group-item">Category : {{todo.category}}</li>
                <li class="list-group-item">Priority : {{todo.priority}}</li>
                <li class="list-group-item">Due Date: <strong>{{ todo.dueDate|date('F j, g:i: a') }}</strong></li>
            </ul>
            <p>
                {{todo.description}}
            </p>
        </div>
    </div>
{% endblock %}